#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.board {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	width: calc(300px + 1rem);

	background-color: white;
}

.cell {
	width: 100px;
	height: 100px;
	border-radius: 0;
}

/* @media (prefers-reduced-motion: no-preference) {
	
  .some-class {
    some animation
  }
  
}*/

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.winner-popup {
	font-size: 2rem;
	color: white;
	text-decoration: underline;
}
